/* For dark and light theme */
:root {
  --background: white;
  --nav-background: #ffffff;
  --input-background: #eee;
  --info-text: #0d6efd;
  --shadow: 20px 16px 10px hsl(0deg 0% 0% / 0.25);
}

.theme {
  background-color: var(--background);
  height: 100vh;
}

.theme-icon {
  cursor: pointer;
}

.theme-icon :hover {
  color: rgb(0, 0, 0);
}

.theme nav {
  background: var(--nav-background);
}

.input-bar {
  background: var(--input-background);
}

@media (max-width: 576px) {
  .input-bar > button,
  .input-bar > div {
    margin: 5px 0;
  }
}

.possible-solutions {
  color: var(--info-text);
  z-index: 1;
}
